{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}Авторизация{% endblock %}

{% block content %}
    <h2>Добро пожаловать</h2>
    <br>
    {% if user.is_authenticated %}
        <p>Вы уже выполнили вход.</p><br>
    {% else %}
        <div class="row justify-content-center">
        <form method="post" style="background:#f5f4f1; padding:20px; width:300px;">
            {% csrf_token %}
            {% bootstrap_form form layout='vertical' %}
            <input type="hidden" name="next" value="{{ next }}">
            {% buttons submit='Войти' %}{% endbuttons %}
        </form>
        </div>
    {% endif %}
{% endblock %}
