{% extends "base.html" %}

{% block title %}Авторизация{% endblock %}

{% block content %}
    <h2>Добро пожаловать</h2>
    <br>
    {% if user.is_authenticated %}
        <div class="container">
            <p>Вы уже выполнили вход.</p><br>
            <p><a href="/logout">Выйти</a></p>
        </div>
    {% else %}
        <div class="row justify-content-center">
        <form method="post" style="background:#f5f4f1; padding:20px; width:300px;">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Войти</button>
        </form>
        </div>
    {% endif %}
{% endblock %}
